*,
*::before,
*::after {
    box-sizing: border-box;
}

/* _______START NORMALIZE________ */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Remove underlines from links */
a {
    text-decoration: none;
}
/* ___________END NORMALIZE___________ */

/* BASIC STYLES  */
body {
    font-size: 16px;
    line-height: 1.6;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    padding: 50px 0;
}

.l-wrapper {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
    width: 100%;
}
.l-schedule__container {
    /* width: 100%; */
    /* overflow: hidden; */
    overflow-x: auto;
}
.l-schedule {
    display: flex;
    position: relative;
    /* gap: 10px; */
    overflow: hidden;
    padding-top: 40px;
    min-width: 1200px;
    /* overflow-x: scroll; */
}

.l-times-block .l-time {
    height: 30px;
}
.l-times__lines {
    position: absolute;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.l-times-block {
    padding-right: 10px;
    background-color: white;
}
.l-time {
    background-color: white;
    z-index: 2;
}
.l-time::after {
    content: "";
    border-bottom: 1px solid #ddd;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 12px;
    pointer-events: none;
    z-index: -1;
}

.l-days {
    display: flex;
    flex: 1;
    border-left: 1px solid #ddd;
    border-right: 0;
    /* border-bottom: 1px solid #ddd; */
    position: relative;
}
.day {
    flex: 1;
    border-right: 1px solid #ddd;
    position: relative;
    min-height: 600px; /* Задайте минимальную высоту по вашему усмотрению */
}
.day .day-title {
    position: absolute;
    top: -30px;
    text-align: center;
    width: 100%;
}
.l-event {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #8f8dff;
    /* border: 1px solid #ccc; */
    overflow: hidden;
    padding: 4px;
    border-radius: 6px;
}

.l-event__title {
    font-weight: bold;
    display: flex;
    line-height: normal;
}
